<!-- <h1>All notes</h1> -->

<main>
  <% @notes.each do |note| %>
    <article>
      <header>
        <h2><%= note.title %></h2>
        <div class="actions-container">
          <%= link_to 'view', note_path(note) %>
          <%= link_to 'edit', edit_note_path(note) %>
          <%= link_to 'delete', note_path(note),
            method: :delete,
            data: {confirm: 'Are you sure?'}%>
        </div>
      </header>
      <p><%= note.text %></p>
    </article>
  <% end %>

  <!-- new note -->
  <article>
    <header>
      <h2>New Note</h2>
    </header>
    <p>
      <div class="new-plus">
        <%= link_to '+', new_note_path %>
      </div>
    </p>
  </article>
</main>
