<article class="big">
  <header>
    <h2><%= @note.title %></h2>
      <div class="actions-container">
        <%= link_to 'edit', edit_note_path(@note) %>
        <%= link_to 'delete', note_path(@note),
          method: :delete,
          data: {confirm: 'Are you sure?'}%>
      </div>
  </header>
  <p>
    <%= @note.text %>
  </p>
</article>

<%= link_to 'back', notes_path %>
